h1 {
    background-color: palegoldenrod;
    font-size: 12;
    border: 4px black dotted;
    display:inline;
}

h2 {
    display:none;
}

span {
    background-color: violet;
    font-size: 12;
    border: 4px black dashed;
    display:block;
}

div {
    height: 200px;
    width: 200px;
    background-color: sienna;
    border: 1px solid blue;
    display: inline-block;
    margin: 10px;
}