/* https://developer.mozilla.org/en-US/docs/Web/CSS/Attribute_selectors */
/* *{
 background-color: yellow;
} */

body{
    background-color: #CADBC0;
}

button{
    background-color: #94524A;
}

/* #botonLogIn{
    background-color: aqua;
} */

h1,h2{
    color: #C94277;
    font-size: 20px;
}

#hola{
    background: darkorchid;
}

#signup{
    background-color: #2F0A28;
    color: #C94277;
}

span{
    color: #6874E8;
}

.tag{
    background-color: #067BC2;
    color: #F37748
}

.post a{
    background-color:  #A288A6;
}

footer a {
    background-color: #A7CAB1;
}

input + button{
    background-color: burlywood;
}

h2 + button {
    font-size: 20px;
    background-color: violet;
}

footer > a{
    background-color: lime;
    font-size: 10px;
}

input[type="password"]{
    color:red
}

section[class="post"]{
    background-color: #C9d200;
}

/* section.post{
    background-color: #C94277;
} */

/* contiene */
a[href*="google"]{
    color: yellow;
    font-size: 2em;
}