/* *{
 background-color: yellow;
} */

body {
    background-color: #CADBC0;
}

button{
    background-color: #94524A;
}

h1,h2 {
    color: #C94277;
    font-size: 20px;
}

#signup {
    background-color: #2F0A28;
    color: #C94277;
}
