
/* https://developer.mozilla.org/en-US/docs/Web/CSS/Attribute_selectors */
/* *{
 background-color: yellow;
} */

body{
    background-color: #CADBC0;
}

button{
    background-color: #94524A;
}

/* #botonLogIn{
    background-color: aqua;
} */

h1,h2{
    color: #C94277;
    font-size: 20px;
}

#hola{
    background: darkorchid;
}

#signup{
    background-color: #2F0A28;
    color: #C94277;
}

span{
    color: #6874E8;
}

.tag{
    background-color: #067BC2;
    color: #F37748
}

.post a{
    background-color:  #A288A6;
}

footer a {
    background-color: #A7CAB1;
}

input + button{
    background-color: burlywood;
}

/* h2 + button {
    font-size: 20px;
    background-color: violet;
}

footer > a{
    background-color: lime;
    font-size: 10px;
}

input[type="password"]{
    color:red
}

/* contiene */
a[href*="google"]{
    color: yellow;
    font-size: 2em;
}

button:hover{
    background-color: #F37748;
}

.post button:hover{
    background-color: #067BC2;
    color:#2F0A28    
}
a:hover{
    text-decoration: overline red wavy;
}

button:active{
    background-color: #119822 ;
}


/* section[class="post"]{
    background-color: #C9d200;
} */

/* section.post{
    background-color: #C94277;
} */

/* .post{
    background-color: #98C1D9;
} */
.post:nth-of-type(2n){
    background-color: #3D5A80;
}
h2::first-letter{
    font-size: 50px;
}
p::first-line{
    color:#C94277;
}

p::selection{
 background-color: #A41623;   
}