h2{
    color:indigo;
    background-color: #f00;
}

button{
    color:seagreen;
    background-color: skyblue;
}

p{
    color:sandybrown;
    background-color: olive;
}

body{
    background-color: #ccccff;
}